@import 'common';
body {
    background-color: rgb(39, 40, 34);
}

.watching {
    position: relative;
    width: 900px;
    height: 20px;
    // border: 1px solid blue;
    margin: auto;
    position: relative;
    left: 576px;
    top: 80px;
    padding-bottom: 50.25%;
    overflow: hidden;
    // background-color: #FDFD98;
}

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.control_bar {
    // display: none;
    position: absolute;
    top: 541px;
    width: 100%;
    height: 35px;
    background-color: #ff9;
    z-index: 10;
}

.paused {
    width: 100px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 2px solid #fff;
    background-color: #4CDA43;
    cursor: pointer;
}

.timer {
    position: absolute;
    left: 102px;
    top: 0px;
    width: 150px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #4CDA43;
    border: 2px solid #fff;
}
.full_screen{
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
    height: 28px;
    padding-left: 10px;
    line-height: 30px;
    background-color: #4CDA43;
    border: 2px solid #fff;
}

.full_btn {
    position: absolute;
    right: 10px;
    top: 3px;
    width: 22px;
    height: 22px;
    // border: 1px solid blue;
    background-color: #fff;
    cursor: pointer;
    @include background('/images/full.png');
}

.tip_text {
    color: red;
    font-size: 14px;
}

.watching video::-webkit-media-controls-enclosure {
    /*禁用播放器控制栏的样式*/
    display: none !important;
}
.nav_bar_ul {
    width: 120px;
    left:405px;
    top: 330px;
}

.nav_bar_item {
    display: block;
    margin: 20px 0;
}
.nav_bar .user_nav{
    left:450px;
    top:260px;

}
.user_section {
    left: 369px;
    top: 310px;
}
