@import 'common';
body {
    background-color: rgb(39, 40, 34);
}

.watching {
    position: relative;
    width: 900px;
    height: 20px;
    // border: 1px solid blue;
    margin: auto;
    position: relative;
    left: 576px;
    top: 80px;
    padding-bottom: 50.25%;
    overflow: hidden;
    // background-color: #FDFD98;
}

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.control_bar {
    // display: none;
    position: absolute;
    top: 541px;
    width: 100%;
    height: 35px;
    background-color: #ff9;
    z-index: 10;
}

.paused {
    width: 100px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 2px solid #fff;
    background-color: #4CDA43;
    cursor: pointer;
}

.timer {
    position: absolute;
    left: 102px;
    top: 0px;
    width: 150px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #4CDA43;
    border: 2px solid #fff;
}
.full_screen{
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
    height: 28px;
    padding-left: 10px;
    line-height: 30px;
    background-color: #4CDA43;
    border: 2px solid #fff;
}

.full_btn {
    position: absolute;
    right: 10px;
    top: 3px;
    width: 22px;
    height: 22px;
    // border: 1px solid blue;
    background-color: #fff;
    cursor: pointer;
    @include background('/images/full.png');
}

.tip_text {
    color: red;
    font-size: 14px;
}

.watching video::-webkit-media-controls-enclosure {
    /*禁用播放器控制栏的样式*/
    display: none !important;
}
.nav_bar_ul {
    width: 120px;
    left:405px;
    top: 330px;
}

.nav_bar_item {
    display: block;
    margin: 20px 0;
}
.nav_bar .user_nav{
    left:450px;
    top:260px;

}
.user_section {
    left: 369px;
    top: 310px;
}
.article_title{
    position: relative;
    left: 743px;
    top: 185px;
    width: 684px;
    // height: 60px;
    h1{
        height: 40px;
        line-height: 40px;
        font-size: 30px;
        text-align: center;
    }
    li{
        float: left;
        padding: 10px 25px 0 0;
    }

}
.article_content{
    width: 750px;
    min-height: 500px;
    position: absolute;
    left: 660px;
    top: 280px;
    // border: 2px solid #aaa;
    @include background('/images/timg.png');

    border-radius: 5px;
    padding: 20px;
    p{
        position: relative;
        top: 100px;
        padding: 0px 60px 12px; margin-top: 0px; margin-bottom: 0px; color: rgb(51, 51, 51); line-height: 25px; text-indent: 2em;font-family: Times New Roman; white-space: normal;
    }
    span{
        font-weight: bold;
    }
    .big{
        font-size: 22px;
        font-weight: bold;

    }
    .tupian{
        position: relative;
        left: 470px;
        top: 150px;
        img{
            width: 120px;
            height: 120px;
        }

    }
}
.article_zan{
    width: 800px;
    min-height: 200px;
    position: absolute;
    left: 700px;
    top: 620px;
    border: 2px solid #aaa;
    border-radius: 5px;
    padding: 20px;
    font-size: 14px;
    p{
        color: rgb(51, 51, 51); line-height: 25px; text-indent: 2em;font-family: Times New Roman; white-space: normal;
    }
    .zan_title{
        font-size: 20px;
        margin-left: -40px;
        margin-bottom: 10px;
        color: red;
    }
}
.wahaha{
    left: 432px;
    top: 500px;
    .nav_bar_item{
        background-color: #FA9238;
        font-size: 17px;

    }

}
.waha{
    left: 150px;
    top: 61px;
    .nav_bar_item{
        background-color: #FDAF95;
        font-size: 14px;
    }

}
#kk{
    background-color:red ;

}

.video_img{
    width: 900px;
    height: 580px;
    position: absolute;
    padding: 20px 0;
    left: 0px;
    top: 70px;
    background-color: #000;
    @include background('/images/a1.jpg');
}
.bar,.bar2{
    width: 900px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    left: 0px;
    top: 526px;
}
.bar2{
    width: 405px;
    background-color: #4CDA43;
}
.point,.point1,.point2,.point3{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: red;
    position: absolute;
    left: 40px;
    top: 526px;
}
.point1{
    left: 100px;
}
.point2{
    left: 400px;
}
.point3{
    left: 760px;
}
.kuang{
    position: absolute;
    left: 220px;
    top: 226px;
    width: 400px;
    height: 150px;
    padding: 20px;
    line-height: 25px;
    border: 1px solid red;
    z-index: 100;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}
