<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>hello world</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="1" />
    <meta name="description" content="1" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/page404.css">
</head>

<body>
    <div class="wrapper" id="wrap">
        <nav class="nav_bar">
            <ul>
                <li>w shi layout wenjianjia首页</li>
                <li>党校课堂</li>
                <li>时事</li>
                <li>专题时刊</li>
            </ul>
        </nav>
        {{{body}}}
    </div>
</body>
</html>