<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="1" />
    <meta name="description" content="1" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/ueditor.min.css">
    {{#if stylesheet}}
    <link rel="stylesheet" type="text/css" href="/stylesheets/{{stylesheet}}.css">
    {{/if}}
    <script src="/javascripts/sea.js" charset="utf-8"></script>
    <script src="/javascripts/handlebars.js" charset="utf-8"></script>

</head>

<body>
    <div class="wrapper" id="wrap">
        <nav class="nav_bar clearfix">
            <ul class="nav_bar_ul">
                <li><a class="nav_bar_item" href="/PartyLecture/index.html">首页</a></li>
                <li><a class="nav_bar_item" href="/PartyLecture/videoCollection.html">党校课堂</a></li>
                <li><a class="nav_bar_item" href="/PartyLecture/newsCollection.html">专题时刊</a></li>
                <li><a class="nav_bar_item" href="#">个人中心</a></li>
            </ul>
        </nav>
        <div class="container clearfix">
            <aside class="aside_bar">
                <ul class="aside_bar_ul">
                    <li class="aside_bar_item tab_active"><i class="icon"></i>查看成员</li>
                    <li class="aside_bar_item"><i class="icon"></i>添加成员</li>
                    <!-- <li class="aside_bar_item"><i class="icon"></i>发布视频</li> -->
                    <li class="aside_bar_item"><i class="icon"></i>发布通知</li>
                    <li class="aside_bar_item"><i class="icon"></i>时事时刊</li>
                </ul>
            </aside>
            <div class="aside_content">
                <div class="aside_content_item">
                    <div class="panel panel_1 panel_active">
                        <div class="choose_bar">
                            <input class="id_input" type="text" name="uid" value="" placeholder="请输入学号">
                            <input class="search_by_id sure_btn" type="button" name="sure_btn" value="查询成员">
                            或者
                            <select class="select_number" name="year">
                                {{#each option_number}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                            <input class="search_by_number sure_btn" type="button" name="sure_btn" value="查询成员">

                        </div>
                        <div class="choose_content">
                            <div class="content_nav">
                                <span class="middle_col">姓名</span>
                                <span class="large_col">学号</span>
                                <span class="small_col">性别</span>
                                <span class="large_col">手机号码</span>
                                <span class="small_col">期数</span>
                                <span class="large_col">专业班级</span>
                                <span class="large_col">开始时间</span>
                                <span class="middle_col">平时成绩</span>
                                <span class="middle_col">期末成绩</span>
                            </div>
                            <div class="content_list">

                            </div>
                        </div>
                    </div>
                     <div class="panel panel_2">
                        <div class="choose_content clearfix">
                            <div class="menber_list">
                                <div class="menber_list_nav">
                                    <input class="id_input" type="text" name="" value="" placeholder="输入学号">
                                    <input type="button" class="menber_search sure_btn" name="" value="成员搜索">
                                </div>
                                <div class="menber_list_result">
                                    <!-- <p>
                                        <span class="small_col">姓名</span>
                                        <span class="stu_name large_col">何宇虹</span>
                                    </p>
                                    <p>
                                        <span class="small_col">学号</span>
                                        <span class="stu_id large_col">201330330103</span>
                                    </p>
                                    <p>
                                        <span class="small_col">专业班级</span>
                                        <span class="stu_class large_col">13软件工程1班</span>
                                    </p>
                                    <p>
                                        <span class="small_col">性别</span>
                                        <span class="large_col">女</span>
                                    </p> -->
                                </div>
                                <input type="button" class="add_single sure_btn" name="" value="添加成员">

                            </div>
                            <div class="menber_add">
                                <div class="">
                                    期数：<input class="sTime" type="text" name="" value="">
                                </div>
                                <div class="menber_add_list">
                                    <p>
                                        <span class="small_col">小丑胖</span>
                                        <span class="uid large_col">201330330123</span>
                                        <span class="large_col">13软件工程1班</span>
                                    </p>
                                    <p>
                                        <span class="small_col">我是10号</span>
                                        <span class="uid large_col">201330330110</span>
                                        <span class="large_col">13软件工程1班</span>
                                    </p>
                                    <p>
                                        <span class="small_col">大美女</span>
                                        <span class="uid large_col">201330330124</span>
                                        <span class="large_col">13软件工程1班</span>
                                    </p>
                                </div>
                                <input type="button" class="sure_btn" name="" value="确认添加">
                            </div>

                        </div>
                    </div>
                    <!-- <div class="panel panel_3">
                        <div class="choose_content">
                            <div class="file_upload">
                                <section>
                                    视频名称：<input type="text" name="" placeholder="视频名称">
                                </section>
                                <section>
                                    视频文件：<input type="file" name="" value="">
                                </section>
                            </div>
                                <input type="button" class="sure_btn" name="" value="确认添加">
                        </div>
                    </div> -->
                    <div class="panel panel_4">
                        <div class="choose_content">
                            <div class="notice_send">
                                <section>
                                    通知主题：<input type="text" name="" placeholder="通知主题">
                                </section>
                                <section>
                                    <textarea name="name" class="notice_text"></textarea>
                                </section>
                            </div>
                                <input type="button" class="notic_send sure_btn" name="" value="确认添加">
                        </div>
                    </div>
                    <div class="panel panel_5">
                        <div class="choose_content">
                            <section>
                                文章题目：<input class="article_title" type="text" name="" placeholder="文章题目">
                            </section>
                            <section class="text_editor">
                                <script id="editor" type="text/plain" style="width:800px;height:300px;"></script>
                            </section>
                            <input type="button" class="send_article sure_btn" name="" value="确认添加">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{#if jscript}}
    <script type="text/javascript">
        seajs.use("{{jscript}}");
    </script>
    {{/if}}

</body>
</html>
