<!-- <div class="article_title">
    <h1>{{articleTitle}}</h1>
    <ul>
        <li>作者：<span>{{author}}</span></li>
        <li>时间：<span>{{time}}</span></li>
        <li>已读：<span>{{read}}</span></li>
    </ul>
</div>
<div class="article_content">
　　<p>两会如期召开，全国人民都把关注的目光投向了北京。2017年是暂新的一年，也是改革的一年。两会的热点问题都直接反映了老百姓们的生活状况，体现了他们的真挚的诉求。</p>
　　<p>城镇化有利于促进发展活力，扩大内需，缩小城乡差距，促进经济平衡发展。完善社会保障体系也是人们的期望，不仅是对于退休养老，在社会低保、社会救助方面也许要进一步的完善。而上学、住房、看病等老大难问题，仍然是各个代表们研究的中心。对于食品安全问题，国家仍要完善安检制度，加强食品安全的检验和管理，让百姓吃地放心。随着经济持续快速发展，我国已经成为世界第二大经济体。同时明显存在的行业差距、区域差距、城乡差距不可忽视。促进分配公平合理，深化分配体制改革，与效率兼顾;而今年新出的热点问题集中再就业方面，高校毕业生数量多，岗位竞争激烈，人民期待两会能够给就业市场提供活力和信心。</p>
    <p>“两会”虽然结束了，但新的征程，才刚刚起步;新的起点，就在脚下!“两会”虽然闭幕了，但大学生的使命，还在延续;接班人的责任，远未结束!我们班全体同学纷纷表示要牢记伟大的使命，为社会主义建设再造辉煌，再创佳绩，继续奋斗!</p>
</div>
<div class="article_zan">
    <p class="zan_title">评论区</p>
    <p><span>娃哈哈：</span>党的十八大开启全面建成小康社会的新征程，新一届中央领导集体奋力开拓改革发展新局面。</p>
    <p><span>何胖胖：</span>了解国际国内形势，站对立场，能明辨是非</p>
    <p><span>林小马：</span>我会自觉履行自己应尽的义务，积极发挥好党员的带头作用</p>
</div> -->
<div class="article_title">
    <h1>党课结业证书</h1>
    <ul>
        <!-- <li>完成时间<span>2016-5-14 23：59：59</span></li> -->
        <li>所有者：<span>何胖胖</span></li>
        <li>颁发单位：<span>华南农业大学数学与信息学院</span></li>
        <li>颁发时间：<span>2016-06-11</span></li>
    </ul>
</div>
<div class="article_content">
　　<p><span>何胖胖</span> 同志于<span> 2016年2月11日 </span>至<span> 2016年5月30日</span>
    参加党课学习，学习期满，考核合格，准予结业。</p>
    <p class="big"></p>
    <p class="big"></p>
    <p class="big"></p>
<p class="big">特发此证</p>
<p class="tupian"><img src="/images/44.png" alt=""></p>

</div>
<ul class="nav_bar_ul wahaha">
    <li><a class="nav_bar_item" href="#" target="_blank">课后作业</a></li>
    <!-- <ul class="nav_bar_ul waha">
        <li><a  id="kk" class="nav_bar_item" href="#" target="_blank">第18期期末考试</a></li>
        <li><a class="nav_bar_item" href="#" target="_blank">第17期期末考试</a></li>
        <li><a class="nav_bar_item" href="#" target="_blank">第16期期末考试</a></li>
    <li><a class="nav_bar_item" href="#" target="_blank">第1次作业</a></li>
    </ul> -->
    <li><a class="nav_bar_item" href="#" target="_blank">期末考试</a></li>
<li><a id="kk" class="nav_bar_item" href="#" target="_blank">结业证书</a></li>
</ul>
