<div class="class_video clearfix">
    <div class="title_block"></div>
    <div class="content_block clearfix">
        {{#each video}}
        <section class="item_block">
            <a href="http://hyh.liveclass.com:3000/practice/videoWatching/{{this.vid}}.html?vid={{this.vid}}" target="_blank">
                <div class="item_img"><img src="/video/cover/{{this.cover}}"></div>
                <section class="cover_penal"></section>
            </a>
            <div class="item_title">{{this.vname}}</div>
        </section>
        {{/each}}
    </div>
</div>
<div class="news_point clearfix">
    <div class="title_block"></div>
    <div class="content_block clearfix">
        {{#each article}}
        <section class="item_block">
            <a href="http://hyh.liveclass.com:3000/practice/articleReading/{{this.aid}}.html?vid={{this.aid}}" target="_blank">
                <div class="item_img"><img src="{{this.content}}"></div>
                <section class="cover_penal"></section>
            </a>
            <div class="item_title">{{this.title}}</div>
        </section>
        {{/each}}
    </div>
</div>
