<div class="class_video clearfix">
    <div class="content_block clearfix">
        {{#each waha}}
        <section class="item_block">
            <a href="http://127.0.0.1:3000/liveClass/{{this.id}}.html" target="_blank">
                <div class="item_img"><img src="{{this.content}}"></div>
                <section class="cover_penal"></section>
            </a>
            <div class="item_title">{{this.title}}</div>
        </section>
        {{/each}}
    </div>
</div>
<div class="news_point clearfix">
    <div class="content_block clearfix">
        {{#each waha}}
        <section class="item_block">
            <a href="http://127.0.0.1:3000/liveClass/{{this.id}}.html" target="_blank">
                <div class="item_img"><img src="{{this.content}}"></div>
                <section class="cover_penal"></section>
            </a>
            <div class="item_title">{{this.title}}</div>
        </section>
        {{/each}}
    </div>
</div>
<div class="article clearfix">
    <div class="content_block clearfix">
        {{#each waha}}
        <section class="item_block">
            <a href="http://127.0.0.1:3000/liveClass/{{this.id}}.html" target="_blank">
                <div class="item_img"><img src="{{this.content}}"></div>
                <section class="cover_penal"></section>
            </a>
            <div class="item_title">{{this.title}}</div>
        </section>
        {{/each}}
    </div>
</div>
