<div class="article clearfix">
    <div class="content_block clearfix">
        {{#each waha}}
        <section class="item_block">
            <a href="http://hyh.liveclass.com:3000/articleReading/{{this.aid}}.html?vid={{this.aid}}" target="_blank">
                <div class="item_img"><img src="{{this.content}}"></div>
                <section class="cover_penal"></section>
            </a>
            <div class="item_title">{{this.title}}</div>
        </section>
        {{/each}}
    </div>
</div>
