<div class="news_point clearfix">
    <aside class="">
        沙发上峰回路转上的花费到鬼的空间发生过葫芦岛市然rhgiawefehfweufhseif
    </aside>
    <div class="content_block scoll clearfix">
        {{#each article}}
        <section class="item_block">
            <a href="http://hyh.liveclass.com:3000/practice/articleReading/{{this.aid}}.html?aid={{this.aid}}" target="_blank">
                <div class="item_img"><img src="{{this.content}}"></div>
                <section class="cover_penal"></section>
            </a>
            <div class="item_title">{{this.title}}</div>
        </section>
        {{/each}}
    </div>
</div>
