<div class="watching">
    <video id="myVideo">
        <source src="/video/{{path}}" type="video/mp4" />
        <!-- <source src="/video/movie.ogg" type="video/ogg" /> -->
        <p>您的浏览器不支持此HTML5 视频标签。</p>
    </video>
    <div class="control_bar">
        <div class="paused">播放/暂停</div>
        <div class="timer"><span class="current_time">00:00</span> / <span class="duration_time">00:00</span></div>
        <div class="full_screen">
            <span class="tip_text">退出全屏请按ESC</span>
            <div class="full_btn">

            </div>
        </div>
    </div>
</div>
