<div class="watching">
    <video id="myVideo">
        <!-- <source src="/video/{{path}}" type="video/mp4" /> -->
        <!-- <source src="/video/movie.ogg" type="video/ogg" /> -->
        <!-- <p>您的浏览器不支持此HTML5 视频标签。</p> -->
    </video>
    <div class="haha">
        <div class="video_img">

        </div>
    </div>
    <div class="bar">

    </div>
    <div class="bar2">

    </div>
    <div class="point">

    </div>
    <div class="point1">

    </div>
    <div class="point2">

    </div>
    <div class="point3">

    </div>
    <div class="kuang">
    <p class="timu">3、在新的历史条件下，我们党面临着精神懈怠、能力不足、（  ）、消极腐败“四大危险”。</p>
A、<input name="radio1" type="radio" value="Java">贪污腐败<br />
B、<input name="radio1" type="radio" value="C++">脱离群众<br />
C、<input name="radio1" type="radio" value="C">思想堕落<br />
D、<input name="radio1" type="radio" value="JavaScript">执政经验欠缺<br />

    </div>
    <div class="control_bar">
        <div class="paused">播放/暂停</div>
        <div class="timer"><span class="current_time">00:00</span> / <span class="duration_time">00:00</span></div>
        <div class="full_screen">
            <span class="tip_text">退出全屏请按ESC</span>
            <div class="full_btn">

            </div>
        </div>
    </div>
</div>
