<div class="watching">
    <video id="myVideo">
        <source src="/video/{{path}}" type="video/mp4" />
        <!-- <source src="/video/movie.ogg" type="video/ogg" /> -->
        <p>您的浏览器不支持此HTML5 视频标签。</p>
    </video>
    <div class="control_bar">
        <div class="paused">播放/暂停</div>
        <div class="timer"><span class="current_time">00:00</span> / <span class="duration_time">00:00</span></div>
        <div class="tip_text">退出全屏请按ESC</div>
        <div class="full_screen"></div>
    </div>
</div>
<div class="comments">
    <div class="comments_content" id="chat">
        <ul id="chat_container">
            <li class="wa"></li>
        </ul>
    </div>
    <div class="text_block">
        <textarea class="chat_text"></textarea>
        <button class="btn btn-clear">清屏</button>
        <button class="btn btn-send">发送</button>
    </div>
</div>
